@font-face {
  font-family: 'NunitoSans';
  src: url('NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RockSalt';
  src: url('RockSalt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    position: relative; /* Necesario para posicionar el ::before */
    overflow: hidden;   /* Oculta el desbordamiento del desenfoque */
    border: 0;          /* Borde*/
    padding: 4em;       /* Espacio entre el contenido y el borde*/
    display: flex;      /* Que ocupe todo el espacio*/
    align-items: center;/* Centrar verticalmente */
    width: 100%;
    flex-wrap: wrap;
}
header ::before{
    content: "";
    position: absolute; /*Cambia la posición*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url(Imagenes/Fondo.jpg); /* Imagen de fondo*/
    background-size: cover;
    background-position: center;
    filter: blur(8px)  brightness(0.7);          /* Desenfoque aquí */
    z-index: -1;                /* Coloca detrás del contenido */ 
    width: 100%;
    
}
header img {    
    width: 14em;        /* ancho*/
    height: 8em;       /* Alto*/
    text-align: left;  /* Alineación*/
    /* Margen izquierdo*/
}
header h1{
    font-size: 60px;                               /* tamaño de letra*/
    text-align: center;                            /* Alineación*/
    color: #eb2700;                              /* color de fuente*/
    flex: 2;                                       /* Cantidad de espacio que usa en el flex*/
    margin: 0;                                     /* Tamaño del margen*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra alredededor de las letras*/
    font-family: "RockSalt";                       /* fuente*/
    font-style: normal;
    padding-left: 15%;
}
header h2{
    font-family: cursive; /* Fuente*/
    color: white;       /* Color de fuente*/
    text-align: right;    /* Alineación de texto*/
    flex: 1;              /* Cantidad de espacio que usa en el flex*/
    margin: 0;            /* Margen*/
    width: fit-content;
}

body {
    margin: 0;                   /* Tamaño del margen*/
    border: 0;
    padding: 0;
    background-color: #E5DF56; /* Color de fondo*/
    width: 100%;
}

.sombra {            /* Sombra entre el header y el body*/
  height: 40px;          /* Altura del sombreado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent); /* Define el color de la sombra en el fondo*/
}

.primerfila {
    display: flex;                  /* Que ocupe todo el espacio*/
    justify-content: space-between; /* distribuye: izquierda, centro, derecha */
    width: 100%;                     /* ancho del body*/
    padding: 60px;                  /* Espacio entre el contenido y el borde*/
    margin-top: 20px;               /* Margen superior*/
    font-family: 'NunitoSans';
    flex-wrap: wrap;
    text-align: center;             /* Alineación*/
    row-gap: 10px;
}
.primerfila ul{
  border: 2px solid black;  /* El borde de la caja */
  padding: 2em;              /* Espacio interno entre el texto y el borde */
  width: fit-content;         /* La caja se ajusta al ancho del contenido */
  font-size: 22px;            /* Tamaño de la fuente*/
  border-radius: 8px;         /* Bordes redondeados opcional */
  height:fit-content;         /* Altura de la caja*/
  background-color:cornsilk;/* Color de fondo*/
  text-align: justify;        /* Alineación del texto*/
  list-style: disc;           /* Modifica el estilo de lista*/
}
.primerfila li {
  display: flex;                  /* Distribuye el espacio*/
  justify-content: space-between; /* Alinea a la misma altura */
  gap: 10px;                      /* Distancia entre los elementos del contenedor*/
  min-width: 400px;               /* Puedes ajustar según necesidad */
}

.precio {
  min-width: 80px;   /*Establece un mínimo de ancho*/
  text-align: right;  /*Alineación*/
  color: green;     /*Color de fuente*/
}
.carrito{
  border: 2px solid black;  /* El borde de la caja */
  padding: 20px;              /* Espacio interno entre el texto y el borde */
  width: fit-content;         /* La caja se ajusta al ancho del contenido */
  font-size: 25px;            /* Tamaño de la fuente*/
  border-radius: 8px;         /* Bordes redondeados opcional */
  height:fit-content;         /* Altura de la caja*/
  background-color:cornsilk;/* Color de fondo*/
  text-align: center;        /* Alineación del texto*/
  list-style: disc;           /* Modifica el estilo de lista*/
  min-width: 560px;
}
#lista-carrito{
  list-style: none;
  padding: 0;
  margin-top: 10px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  color: #333;
  text-align: center;
}
#lista-carrito li {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

#lista-carrito input.cantidad {
  width: 50px;
  padding: 4px;
  margin: 0 10px;
  font-size: 14px;
  text-align: right;
}

#lista-carrito button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#lista-carrito button:hover {
  background-color: #c0392b;
}
.carrito ul {
    border: 0;
}

.carrito button{
    border: 4px black;
    font-size: 20px;
    font-family: 'MiFuente';
    border-radius: 1px;
    padding: 3px;
}
.carrito button:hover{
  background-color: white;
}
.carrito button:active{
  background-color: #E5DF56;
}
.primerfila a{
  width:fit-content;
  height:fit-content;
}
.primerfila a img{
    border: 3px solid grey; /* Borde de la imagen*/
    width: 25em;
    height: 25em;
    border-radius: 8px;
    font-size: 16px ;
}

.productos {
    display: flex;                  /* Que ocupe todo el espacio*/
    justify-content:center; /* distribuye: izquierda, centro, derecha */
    gap: 80px;
    width: 100%;                         /* ancho del body*/
    padding: 10px;                  /* Espacio entre el contenido y el borde*/
    margin-top: 40px;               /* Margen superior*/
    text-align: center;             /* Alineación*/
    font-size: 30px;                /* Tamaño de fuente*/
    font-family: 'NunitoSans';
    flex-wrap: wrap;
}
.productos img{
    height: 10em;                   /* Alto de la imágen*/
    width: 14em;                    /* Ancho de la imágen*/
    border: 2px solid black;      /* Borde de la imagen*/
    overflow: hidden;
}

.prod{ 
    border: 2px solid black;      /* Borde de todo el contenido*/
    padding: 25px;                  /* Expacio entre el borde y el contenido */
    border-radius: 10px;            /* Redondea el borde en las esquinas */
    background-color: #ff360e;    /* Color de fondo */
    overflow: hidden;
    transition: 0.3s;
}
.prod:hover{                                         /* Alterar el contenido al colocar el mouse arriva */
    transform:scale(1.05);                          /* Aumentar el tamaño de los elementos */
    color: rgba(0, 0, 0, 1);    
    background-color: #ff0000;
   
}
.prod button {
    border: 2px black;
    font-size: 16px;
    font-family: 'MiFuente';
    border-radius: 1px;
    background-color: cornsilk;
    padding: 4px;
    transition: 0.3s;
}
.prod button:hover {
    background-color: white;
    transform: scale(1.2);
}
.prod button:active{
    background-color: yellow;
}
footer{
    background-color: #E6011C;               /* Color de fondo*/
    font-family: Arial, Helvetica, sans-serif; /* Fuente*/         
    font-size: 22px;                           /* Tamaño de fuente*/
    display:flex;                  /* Que ocupe todo el espacio*/
    padding: 50px;                  /* Espacio entre el contenido y el borde*/    
    margin-top: 20px;               /* Margen superior */
    flex-wrap: wrap;
    color: black;             /* Color de la letra */
    padding-bottom: 10px;
}

.izquierda img {            
    font-size: 25px;
    width: 2em;           /* Ancho de imagen*/
    height: 2em;          /* Alto de imagen*/
    margin-right: 10px;   /* Margen derecho */
    flex: 1; 
}
.izquierda span{
    align-items: center;  /* Alinea verticalemente al centro */
    position: relative;   /* Permite ajustar la posición, pero sigue ocupando el lugar original*/
    bottom: 16px;         /* Baja 10 px la imagen*/
    
}
.centro{  
    flex:1;
    text-align: center  ;
}
.hipervinculo{
  opacity: 0%;
}
.centro iframe{
  width: 500px;
  height: 300px;
  border: 5px black;
}
.derecha{ 
  flex: 1;  
  padding: 5px;       /* Separación del borde*/
  margin-left: 10px;  /* Separación del borde*/
  width: fit-content;
}
.derecha:hover{           /* Cambia cuando esta el cursor arriva*/
    color: white; /* Cambia el color */
}
@media(max-width:1720px){
  
  .primerfila ul{
    font-size: 18px;
  }
  .primerfila li{
    min-width: 0;               /* Puedes ajustar según necesidad */
  }
  .precio {
   min-width: 60px;   /*Establece un mínimo de ancho*/
  }
  .carrito {
    font-size: 18px;
    min-width: 474px;
  }
  #lista-carrito{
    font-size: 12px;
  }
  #lista-carrito li {
  margin-bottom: 8px;
  padding: 10px;
}
#lista-carrito input.cantidad {
  width: 44px;
  padding: 4px;
  margin: 0 10px;
  font-size: 12px;
}

#lista-carrito button {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 15px;
}
  .primerfila a img{
    font-size: 13px;
  }
}
@media(max-width:1702px){/*header*/
  header{
    font-size: 15px;
  }
  header h1{
    font-size: 50px;
    padding-left: 12%;
  }
  header h2{
    font-size: 20px;
  }
}
@media(max-width:1610px){/*productos*/
  .productos{
  font-size: 25px;
  gap: 50px;
 }
 .prod{
    padding: 18px;                  /* Expacio entre el borde y el contenido */
    border-radius: 5px;  
 }

}
@media(max-width:1525px){/*header*/
  header{
    font-size: 13px;
  }
  header h1{
    padding-left: 10%;
  }
  header h2{
    font-size: 17px;
  }
}
@media(max-width:1400px){
  
  .primerfila ul{
    font-size: 14px;
  }
  .primerfila li{
    min-width: 0;               /* Puedes ajustar según necesidad */
  }
  .precio {
   min-width: 40px;   /*Establece un mínimo de ancho*/
  }
  .carrito {
    font-size: 14px;
    min-width: 420px;
  }
  #lista-carrito{
    font-size: 10px;
  }
  #lista-carrito li {
  margin-bottom: 8px;
  padding: 10px;
}
#lista-carrito input.cantidad {
  width: 40px;
  padding: 4px;
  margin: 0 10px;
  font-size: 10px;
}

#lista-carrito button {
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px; 
}
  .primerfila a img{
    font-size: 10px;
  }
}

@media(max-width:1290px){/*productos*/
  .productos{
  font-size: 20px;
  gap: 50px;
 }
 .prod{
    padding: 18px;                  /* Expacio entre el borde y el contenido */
 }
 .prod button{
  font-size: 13px;
 }
}
@media(max-width:1110px){/*footer*/
  footer{
    font-size: 18px;
  }
  .izquierda img{
    font-size: 20px;
  }
  .centro iframe{
    width: 400px;
    height: 250px;
  }
}
@media(max-width:1100px){/*header*/
  header{
    font-size: 10px;
  }
  header h1{
    padding-left: 8%;
    font-size: 40px;
  }
  header h2{
    font-size: 14px;
  }
}
@media(max-width:1080px){/*productos*/
  .productos{
  font-size: 15px;
  gap: 50px;
 }
 .prod{
    padding: 13px;                  /* Expacio entre el borde y el contenido */
 }
 .prod button{
  font-size: 11px;
 }
}
@media(max-width:938px){/*footer*/
  footer{
    font-size: 15px;
  }
  .centro iframe{
    width: 300px;
    height: 180px;
  }
}
@media(max-width:870px){/*header*/
  header h1{ 
    padding-left: 3%;
  }
}
@media(max-width:840px){/*productos*/
  .productos{
  font-size: 11px;
  gap: 40px;
 }
 .productos img{
  border: 1px solid black;      /* Borde de la imagen*/
 }
 .prod{
    padding: 11px;                  /* Expacio entre el borde y el contenido */
    border: 1px solid black;      /* Borde de la imagen*/
 }
 .prod button{
  font-size: 9px;
 }
}
@media(max-width:768px){
    header {
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }

  header img {
    width: 10em;
    height: 6em;
    margin: 0 0 1em 0;
  }

  header h1 {
    font-size: 35px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-top: 20px;
  }

  header h2 {
    font-size: 14px;
  }
  .primerfila li{
    font-size: 12px;
    min-width: 200px;
  }
  .primerfila ul{
    font-size: 14px;
  }
  
  .precio{
    min-width: 40px;
  }
  .carrito{
  padding: 10px;              /* Espacio interno entre el texto y el borde */
  font-size: 12px;            /* Tamaño de la fuente*/
  border-radius: 4px;         /* Bordes redondeados opcional */
  min-width: 16em;
}
.carrito ul {
    border: 0;
    font-size: 12px;
    text-align: right;
    margin: 0;
}
.carrito button{
  font-size: 12px;
  width: fit-content;
}
.cantidad {
  width: 50px;       /* Ancho más pequeño */
  padding: 4px;      /* Espaciado interno */
  font-size: 14px;   /* Tamaño del texto */
}
  
 footer{
  font-size: 11px;
 }
}
@media(max-width:640px){/*productos*/
  .productos{
  font-size: 9px;
  gap: 30px;
 }
 .prod{
    padding: 9px;                  /* Expacio entre el borde y el contenido */
 }
 .prod button{
  font-size: 9px;
 }
}
@media(max-width:522px){/*productos*/
  .productos{
  font-size: 7px;
  gap: 20px;
 }
 .prod{
    padding: 7px;                  /* Expacio entre el borde y el contenido */
 }
 .prod button{
  font-size: 7px;
 }
}
